/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet {
        display: none !important;
    }
    #header{
        text-align: left;
    }
}
/* Tablet */
@media (min-width:746px){
  .hide-on-tablet{
      display: none;
  }  
  #header .mobile-menu-btn {
      display: none;
  }
  .home-filter__page-control{
      display: none !important;
  }
  .home-filter__label{
      display: none;
  }
  .home-filter__page-num{
      display: none;
  }
}
/* Mobile */
@media (max-width:745px){
  .hide-on-mobile{
      display: none !important;
  }
  #header {
      overflow: hidden;
      padding-left: 0;
  }
  #nav {
      padding: 0;
      display: block;
  }
  #nav .subnav {
      position:initial;
      background-color: black;
  }
  #nav .subnav a {
      color: white;
      padding: 4px 42px;
  }
  #nav > li {
      display: block;
  }

  #nav>li:first-child{
      display: inline-block;
  }
  #content .member-item {
      width: 100%;
  }
  .place-item {
      width: 100%;
      padding: 8px 8px;
  }
  .s-col-full {
      width: 100% !important;
  }
  .place-buy-btn {
      float: right;
      margin-right: 16px;
  }
  #content .place-body::after {
      content: "";
      display: block;
      clear: both;
  }
  .sort-bar{
    display: flex !important;
   }
  .app__content{
      margin: 0 4px !important;
  }
}

